@use '../components/variables' as c;

.player-selection-btns {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 2em;
}

.board {
    display: grid;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 16px;
    div {
        width: 100px;
        height: 100px;
        background-color: c.$primary;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 2.5rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-text {
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container-buttons {
    display: flex;
    gap: 16px;
    .btn {
        width: auto;
    }
}