@use '../components/variables' as c;
header {
    h1 {
        font-size: 3rem;
    }
}
.header-on {
    padding: 2em 5em;
    text-align: center;
    background-color: c.$header;
    color: white;
    margin-bottom: 5em;
}

.header-off {
    font-size: 3rem;
}
